.footer {
    background-color: #efefef;
    color: #ffffff;
    padding: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .footer {
        padding: 15px;
    }
}